<template>
  <v-content style="background-color: #2E6FE5">
    <v-container
      justify-center
      fill-height
    >
      <v-card
        flat
        color="transparent"
      >
        <v-card-text>
          <div class="text-xs-center">
            <span style="font-size:20px;font-weight:bold;color:white;padding-bottom:10px">期待您的评阅！</span>
          </div>
        </v-card-text>
        <!-- <v-divider style="border:1px white solid;" /> -->
        <v-card-title>
          <input
            id="RoomInput"
            v-model="roomID"
            @focus="checkRoom"
            @blur="blurRoom"
          >
          <input
            id="CodeInput"
            v-model="code"
            @focus="checkCode"
            @blur="blurCode"
          >
        </v-card-title>

        <v-card-actions class="justify-center">
          <v-btn
            class="red subheading"
            dark
            :to="'/judge/' + roomID + '?code=' + code"
          >
            登入
          </v-btn>
        </v-card-actions>
        <v-img
          :aspect-ratio="16/9"
          :src="require('~/assets/image/index.jpg')"
        />
        <!-- <v-card-text>
          <div class="text-xs-center">
            <span style="font-size:15px;color:white;padding-bottom:10px">试试输入（点击）：</span>
            <a
              style="font-size:15px;color:white;padding-bottom:10px"
              @click.stop="testcase('权力的游戏各方势力评价')"
            >权力的游戏各方势力评价</a>
            <span style="font-size:15px;color:white;padding-bottom:10px"> &nbsp; 、 &nbsp;</span>
            <a
              style="font-size:15px;color:white;padding-bottom:10px"
              @click.stop="testcase('JavaScript框架战争')"
            >JavaScript框架战争</a>
          </div>
        </v-card-text> -->
      </v-card>
    </v-container>
  </v-content>
</template>

<script>
export default {
  data() {
    return {
      roomID: "某个待评阅项目名",
      code: "CODE",
      gradient: "to left, rgba(255,255,255, .5), rgba(255,255,255, 0.5)"
    };
  },
  methods: {
    testcase(str) {
      this.roomID = str;
    },
    checkRoom() {
      this.roomID = this.roomID == "某个待评阅项目名" ? "" : this.roomID;
    },
    blurRoom() {
      this.roomID = this.roomID == "" ? "某个待评阅项目名" : this.roomID;
    },
    checkCode() {
      this.code = this.code == "CODE" ? "" : this.code;
    },
    blurCode() {
      this.code = this.code == "" ? "CODE" : this.code;
    }
  }
};
</script>


<style>
#RoomInput {
  font-size: 25px;
  font-weight: bolder;
  background-color: white;
  color: #2e6fe5;
  width: 300px;
  padding: 0.5em;
  margin-right: 0.2em;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
}

#CodeInput {
  font-size: 25px;
  font-weight: bolder;
  background-color: white;
  color: #2e6fe5;
  width: 150px;
  padding: 0.5em;
  margin-left: 0.2em;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
}

.clickable {
  cursor: pointer;
  margin: 25px;
}
</style>
