<template>
  <v-content style="background-color:#EEEEEE">
    <v-container style="width:70%">
      <span
        class="grey--text"
        style="margin-left:1em"
      > 评委评阅项目 </span>

      <span class="grey--text"> > {{ rating.name }} </span>

      <div>
        <v-card-title class="subheading">
          评阅项目-名称
        </v-card-title>
        <v-card
          light
          flat
          class="font-weight-thin headline"
          style="background-color: white;border-radius:5px"
        >
          <v-card-title style="padding:1em">
            <span>{{ '评阅项目—' + rating.name }}</span>
            <span
              v-if="rating.queopen"
              class="green--text subheading"
            > （已开放评阅） </span>
            <span
              v-else
              class="red--text subheading"
            > （未开放评阅） </span>
          </v-card-title>
        </v-card>
      </div>

      <div>
        <v-card-title class="title">
          评阅说明
        </v-card-title>
        <v-card
          flat
          style="padding:2em"
        >
          <v-card-text>
            <span class="title">项目名称</span>
            <br>
            <span> {{ rating.name }} </span>
          </v-card-text>
          <v-card-text>
            <span class="title">项目说明</span>
            <br>
            <span> {{ rating.des }} </span>
          </v-card-text>
          <v-card-text>
            <span class="title">评分方式</span>
            <br>
            <span> {{ rating.method }} </span>
          </v-card-text>
          <v-card-text>
            <span class="title">维度设置</span>
            <br>
            <span
              v-for="(item,index) in rating.questions"
              :key="index"
              style="display: block"
            >
              {{ (index + 1) + ' ' + item.name + ' (' + item.weight + ') \n' }}
            </span>
          </v-card-text>
          <v-card-text>
            <span class="title">评阅对象</span>
            <br>
            <span
              v-for="(item,index) in rating.options"
              :key="index"
              style="display: block"
            >
              {{ (index + 1) + ' 项目 ' + item.name + ' \n' }}
            </span>
          </v-card-text>
        </v-card>
      </div>
      <v-container
        justify-center
        fill-height
      >
        <v-btn
          class="red"
          dark
          @click="beginReview"
        >
          进入评阅
        </v-btn>
      </v-container>
    </v-container>

    <v-dialog
      v-model="tmpDialog"
      max-width="500px"
    >
      <v-card
        flat
        class="white"
        @click="closeDialog"
      >
        <!-- <v-card-title class="transparent">
          <span></span>
          <v-spacer></v-spacer>
          <v-btn>
            <v-icon>more_vert</v-icon>
          </v-btn>
        </v-card-title> -->
        <v-container
          justify-center
          fill-height
        >
          <span class="subheading red--text font-weight-black">评阅项目目前并未开放，请等待。</span>
        </v-container>
      </v-card>
    </v-dialog>
  </v-content>
</template>

<script>
import axios from "axios";

export default {
  async asyncData({ store, params, query, redirect }) {
    const options = {
      method: "POST",
      headers: { token: store.state.token },
      data: {
        name: params.ratingname,
        code: query.code
      },
      url: process.env.baseUrl + "/api/rating/getRatingForOverview"
    };
    let data = await axios(options);
    store.commit("snackbar/setSnack", {
      snack: data.data.message,
      color: data.data.result
    });
    if (data.data.result === "error") {
      redirect("/judge");
      return;
    } else {
      return {
        rating: data.data.rating,
        dialog: !data.data.rating.queopen,
        tmpDialog: !data.data.rating.queopen,
        code: query.code
      };
    }
  },
  data() {
    return {
      rating: [],
      dialog: false,
      tmpDialog: false,
      code: ""
    };
  },
  methods: {
    closeDialog() {
      this.tmpDialog = false;
    },
    beginReview() {
      if(!this.dialog) {
        this.$router.push(`/judge/${this.rating.name}/review?code=${this.code}`)
      } else {
        this.tmpDialog = true;
      }
    }
  }
};
</script>

<style>
</style>
