<template>
  <v-content style="background-color:#EEEEEE">
    <v-container sm12 md9 >
      <span
        class="grey--text"
        style="margin-left:1em"
      > 评委评阅项目 > </span>

      <nuxt-link
        :to="'/judge/' + rating.name + '?code=' + code"
        style="text-decoration:none;"
        class=" linktype"
      >
        <span class="text-decoration:none;"> {{ rating.name }} </span>
      </nuxt-link>
      <span class="grey--text"> > 评阅 </span>

      <div>
        <v-card-title class="subheading">
          评阅项目-名称
        </v-card-title>
        <v-card
          light
          flat
          class="font-weight-thin title"
          style="background-color: white;border-radius:5px"
        >
          <v-card-title style="padding:1em">
            <span>{{ '评阅项目—' + rating.name }}</span>
            <span
              v-if="rating.queopen"
              class="green--text subheading"
            > （已开放评阅） </span>
            <span
              v-else
              class="red--text subheading"
            > （未开放评阅） </span>
          </v-card-title>
        </v-card>
      </div>

      <v-stepper
        v-model="page"
        non-linear
        class="elevation-0 transparent"
      >
        <v-stepper-items
          v-for="(p,i) in pagelength"
          :key="i"
        >
          <v-stepper-content
            :step="p"
            style="padding:0px;"
          >
            <div>
              <v-layout
                row
                wrap
                sticky-container
              >
                <v-flex
                  xs12
                  flat
                  style="padding:20px 0px"
                >

                  <v-expansion-panel
                    v-model="panel"
                    class="elevation-0"
                  >
                    <v-expansion-panel-content
                      v-for="(item,index) in rating.options.slice((p-1)*5, p*5)"
                      :key="index + (p-1)*5"
                      hide-actions
                      style="margin-bottom:20px;padding:0px;border-radius:5px"
                    >
                      <template v-slot:header>
                        <v-layout
                          row
                          wrap
                        >
                          <v-flex
                            xs12
                            style="padding:0px;margin:0px"
                          >
                            <!-- <div :style="result[index + (p-1)*5].answer.filter(x => x === null || x === '' || x > 100 || x < 0).length > 0 ? 'background-color:red;border-radius:5px;height:50px；width:100%' : JSON.stringify(result[index + (p-1)*5]) !== JSON.stringify(review[index + (p-1)*5]) ?  'background-color:#2E6FE5;border-radius:5px;height:50px；width:100%' : 'background-color:#43A047;border-radius:5px;height:50px；width:100%'"> -->
                            <div style="background-color:red;border-radius:5px;height:50px；width:100%">
                              <v-container
                                fill-height
                                style="padding:10px;margin:0px"
                              >
                                <span class="title white--text font-weight-black"> {{ item.name }} </span>
                                <span
                                  v-if="comp_page[p]"
                                  class="title white--text font-weight-thin"
                                > （已经提交，无法修改） </span>
                                <v-spacer />
                                <v-icon
                                  v-if="index !== panel"
                                  large
                                  class="white--text"
                                >navigate_next</v-icon>
                                <v-icon
                                  v-else
                                  large
                                  class="white--text"
                                > keyboard_arrow_down </v-icon>
                              </v-container>
                            </div>
                          </v-flex>
                          <v-flex xs12>
                            <v-container
                              fill-height
                              style="padding:10px;margin:0px"
                            >
                              <span class="grey--text subheading" style="padding-right:6em"> 评分：{{ result[index + (p-1)*5].answer.map((x,n) => x * parseInt(rating.questions[n].weight) * 0.01).reduce((a,b) => a + b, 0).toFixed(2) }} </span>
                              <span class="grey--text subheading"> 评阅进度： {{tmpComp}}/{{result.length}} </span>
                            </v-container>
                          </v-flex>
                        </v-layout>
                      </template>
                      <v-card-actions
                        class="justify-end"
                        style="padding-right:6em"
                      >
                        <small>评分均为<strong class="red--text">1-100</strong>分制。</small>
                      </v-card-actions>
                      <v-list>
                        <v-list-tile
                          v-for="(m,n) in rating.questions"
                          :key="n"
                        >
                          <v-container
                            justify-space-between
                            fill-height
                            style="padding:0px 4em 0px 4em"
                          >

                            <v-list-tile-title> &bull;&nbsp;&nbsp;&nbsp; {{ m.name }} </v-list-tile-title>
                            <v-list-tile-title> 权重：&nbsp;{{ m.weight }} </v-list-tile-title>
                            <v-list-tile-action>
                              <v-list-tile-title>分值</v-list-tile-title>
                            </v-list-tile-action>
                            <input
                              v-model="result[index + (p-1)*5].answer[n]"
                              v-on:input="checkScore(index, p, n, $event)"
                              type="text"
                              :disabled="comp_page[p]"
                              :style="isValid (index, p, n)"
                            />
                          </v-container>
                        </v-list-tile>
                      </v-list>
                      <v-container
                        justify-center
                        fill-height
                      >
                        <v-btn
                          class="red white--text"
                          :disabled="result[index + (p-1)*5].answer.filter(x => x === null || x === '' || x > 100 || x < 0).length > 0"
                          small
                          @click.stop="SubmitTmp()"
                        > 暂存 </v-btn>
                      </v-container>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-flex>
              </v-layout>
            </div>

            <v-layout
              class="text-xs-center"
              column
              style="margin-bottom:2em"
            >
              <small>提交上述5项打分，并转到下一页，提交之后<strong class="red--text">不可</strong>再修改成绩。</small>
              <v-card-actions class="justify-center">
                <v-btn
                  class="red title"
                  v-model="submitBtn"
                  dark
                  large
                  @click.stop="SubmitCheck"
                >{{submitBtn}}</v-btn>
              </v-card-actions>
            </v-layout>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>

      <div class="text-xs-center">
        <v-pagination
          v-model="page"
          :length="pagelength"
        ></v-pagination>
      </div>
    </v-container>
    <v-dialog
      v-model="dialog2"
      max-width="400px"
    >
      <v-card
        flat
        class="white pa-4"
      >
        <v-container
          justify-center
          fill-height
        >
          <v-layout
            column
            justify-center
          >
            <v-card-actions class="justify-center headline red--text font-weight-black">请确认</v-card-actions>
            <v-card-actions class="justify-center subheading red--text font-weight-black">该组评分已全部完成</v-card-actions>
            <v-card-actions class="justify-center subheading red--text font-weight-black">一旦提交确认无法再次修改</v-card-actions>
            <v-card-actions class="justify-center">
              <v-btn
                class="red white--text font-weight-black subheading"
                @click.stop="dialog2 = false"
              > 返回修改 </v-btn>
            </v-card-actions>
            <v-card-actions class="justify-center">
              <v-btn
                class="red white--text font-weight-black subheading"
                @click.stop="SubmitReview"
              > 确认提交 </v-btn>
            </v-card-actions>
          </v-layout>
        </v-container>
      </v-card>
    </v-dialog>
  </v-content>
</template>

<script>
import axios from "axios";

export default {
  async asyncData({ store, params, query, redirect }) {
    const options = {
      method: "POST",
      headers: { token: store.state.token },
      data: {
        name: params.ratingname,
        code: query.code
      },
      url: process.env.baseUrl + "/api/rating/getRatingForReview"
    };

    let data = await axios(options);
    let reviewOpts = {
      method: "POST",
      data: {
        id: data.data.rating._id,
        code: query.code
      },
      url: process.env.baseUrl + "/api/review/getTmpReview"
    };
    // console.log(reviewOpts)
    let reviewdata = await axios(reviewOpts);
    if (data.data.result === "error") {
      store.commit("snackbar/setSnack", {
        snack: data.data.message,
        color: data.data.result
      });
      redirect("/judge");
    } else {
      store.commit("snackbar/setSnack", {
        snack: reviewdata.data.message,
        color: reviewdata.data.result
      });
    }
    console.log("reviewdata: ", reviewdata.data)

    if (reviewdata.data.tmp === null) {
      var tmp = [];
      for (let i = 0; i < data.data.rating.options.length; i++) {
        tmp.push({ option: data.data.rating.options[i].name, answer: [] });
        for (let j = 0; j < data.data.rating.questions.length; j++) {
          tmp[i].answer.push(null);
        }
      }
    } else {
      var tmp = reviewdata.data.tmp;
    }
    // console.log("tmp: ", tmp[0])

    if (reviewdata.data.review === null) {
      var review = [];
      for (let i = 0; i < data.data.rating.options.length; i++) {
        review.push({ option: data.data.rating.options[i].name, answer: [] });
        for (let j = 0; j < data.data.rating.questions.length; j++) {
          review[i].answer.push(null);
        }
      }
    } else {
      var review = reviewdata.data.review;
    }

    if (reviewdata.data.comp === null) {
      var comp = 0;
    } else {
      var comp = reviewdata.data.comp;
    }
    
    console.log(review[0].answer)
    for(let i = 0;i<review.length;i++){
      tmp[i].answer = review[i].answer[0] == null ? tmp[i].answer : review[i].answer;
    }
    const tmpComp = tmp.filter( t => {
      return t.answer[0];
    })

    if(reviewdata.data.page === null) {
      var page = new Array(data.data.rating.options.length).fill(false);
    } else {
      var page = reviewdata.data.page;
    }
    return {
      reviewOpts: reviewOpts,
      rating: data.data.rating,
      dialog: !data.data.rating.queopen,
      code: query.code,
      result: tmp,
      review: review,
      tmpComp: tmpComp.length,
      comp: comp,
      num: tmp.length,
      comp_page: page,
    };
  },
  data() {
    return {
      reviewOpts: {},
      code: "",
      rating: [],
      result: [],
      review: [],
      page: 1,
      pagelength: 1,
      panel: 0,
      dialog: false,
      dialog2: false,
      comp: 0,
      tmpComp: 0,
      comp_page: [],
      num: 0,
      unvalidScore: 'color:red; height:30px;background-color:#EEEEEE;padding:0px 5px 0px 5px;font-weight:bolder',
      validScore: 'color:black; height:30px;background-color:#EEEEEE;padding:0px 5px 0px 5px;font-weight:bolder',
    }
  },
  mounted() {
    this.tmpResult = this.result.map(t => {
      return t;
    })
  },
  watch: {
    page() {
      this.panel = 0;
    }
  },
  computed: {
    submitBtn() {
      return this.page == this.pagelength ? "结束评阅" : "继续评阅";
    },
    isValid() {
      return (index, p, n) => {
        return this.result[index + (p-1)*5].answer[n] >= 0 && this.result[index + (p-1)*5].answer[n] <= 100 ? this.validScore:this.unvalidScore;
      };
    }
  },
  created() {
    this.panel = 0;
    this.pagelength = Math.ceil(this.rating.options.length / 5);
  },
  methods: {
    async SubmitTmp() {
      const options = {
        method: "POST",
        data: {
          id: this.rating._id,
          code: this.code,
          result: this.result
        },
        url: process.env.baseUrl + "/api/review/submittmp"
      };
      // console.log(options.data);
      // return;
      const data = await this.$axios(options);
      await this.UpdateTmp();
      this.$store.commit("snackbar/setSnack", {
        snack: data.data.message,
        color: data.data.result
      });
      if (data.data.result === "success") {
        if (this.panel != 4) {
          this.panel += 1;
        }
      }
    },
    async UpdateTmp() {
      let reviewdata = await axios(this.reviewOpts);
      let tmp = reviewdata.data.tmp;
      this.tmpComp = tmp.filter( t => {
        return t.answer[0];
      }).length;
    },
    async SubmitReview() {
      let comp = this.result.filter(
        x =>
          x.answer.filter(y => y === null || y === "" || y > 100 || y < 0)
            .length === 0
      ).length;
      if(this.page == this.pagelength && comp != this.num) {
        this.dialog2 = false;
        this.$store.commit("snackbar/setSnack", {
            snack: "所有项目有空缺项，或者数据不在1-100范围内，烦请修改。",
            color: "error"
          });
        return;
      }
      const review = this.page == this.pagelength ? this.result:this.result.slice((this.page - 1) * 5, this.page * 5);
      const options = {
        method: "POST",
        data: {
          id: this.rating._id,
          code: this.code,
          review: review,
          comp: comp,
          page: this.page,
          num: this.num,
        },
        url: process.env.baseUrl + "/api/review/submitreview"
      };
      const data = await this.$axios(options);
      this.$store.commit("snackbar/setSnack", {
        snack: data.data.message,
        color: data.data.result
      });
      if (data.data.result === "success") {
        this.dialog2 = false;
        this.review = JSON.parse(JSON.stringify(this.result));
        this.comp = comp;
        this.tmpComp = comp;
        if (this.page != this.pagelength) {
          this.page += 1;
        }
        if(comp == this.result.length) {
          this.$store.commit("snackbar/setReview", {
            afterReview: true
          });
          this.$router.push({path:'/login'})
        }
      }
    },
    checkScore(index, p, n, e){
      const code = e.data;
      let value = e.target.value;
      if( typeof code == null || (code >= 0 && code <= 9)) {
        this.result[index + (p-1)*5].answer[n] = code == null ? value:parseInt(value);
      } else {
        this.result[index + (p-1)*5].answer[n] =  value.replace(/[^\d]/g,'');
        e.target.value = value.replace(/[^\d]/g,'');
      }
      this.result.push("");
      this.result.pop("");
    },
    SubmitCheck() {
      if(this.comp_page[this.page]) {
        if (this.page != this.pagelength) {
          this.page += 1;
        }
      } else {
        if (
          this.result
            .slice((this.page - 1) * 5, this.page * 5)
            .filter(
              x =>
                x.answer.filter(y => y === null || y === "" || y > 100 || y < 0)
                  .length !== 0
            ).length === 0
        ) {
          this.dialog2 = true;
        } else {
          this.$store.commit("snackbar/setSnack", {
            snack: "上面五项有空缺项，或者数据不在1-100范围内，烦请修改。",
            color: "error"
          });
        }
      }
    }
  }
};
</script>

<style>
.linktype {
  color: grey;
}
.linktype:hover {
  color: #2e6fe5;
}
</style>
