<template>
  <v-card flat>
    <v-layout
      row
      wrap
      class="my-5"
    >
      <v-flex
        xs8
        sm8
        md8
        offset-md1
        offset-sm2
        offset-xs2
      >
        <h1> 评阅结束，感谢您的参与！ </h1>
        <br>
        <br>
        <br>
        <v-btn
          dark
          class="grey darken-3"
          @click.stop="returnHome"
        > 返回首页 </v-btn>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      dialog: false
    };
  },
  methods: {
    returnHome() {
        this.$router.push('/')
    }
  }
};
</script>
