<template>
  <v-card flat>
    <v-layout
      row
      wrap
      class="my-5"
    >
      <v-flex
        xs8
        sm8
        md3
        offset-md1
        offset-sm2
        offset-xs2
      >
        <v-text-field
          :rules="emailRules"
          v-model="login_form.email"
          label="注册邮箱"
          required
        />
        <v-text-field
          v-model="login_form.password"
          label="密码"
          type="password"
          required
        />
        <v-btn
          dark
          style="background-color:#2e6fe5"
          @click.stop="login"
        > 登录 </v-btn>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      login_form: {
        email: "",
        password: ""
      },
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ]
    };
  },
  methods: {
    async login() {
      try {
        await this.$store.dispatch("login", this.login_form).then(data => {
          if(data.result == "success"){
            this.$router.push('/mypage');
          }
          this.$store.commit("snackbar/setSnack", {
            snack: data.message,
            color: data.result
          });
          // if(data.result == "success"){
          //   this.$router.push('/mypage');
          // }
        });
      } catch (e) {}
    }
  }
};
</script>

