<template>
  <v-card flat>
    <v-layout
      row
      wrap
      class="my-5"
    >
      <v-flex
        xs8
        sm8
        md8
        offset-md1
        offset-sm2
        offset-xs2
      >
        <h1 v-if="$store.state.authUser.admin === false">Welcome {{ $store.state.authUser.email }} !</h1>
        <h1 v-if="$store.state.authUser.admin"> Welcome {{ $store.state.authUser.email }} ! You are Admin ! </h1>
        <br>
        <v-divider />
        <br>
        <span>
          感谢您的注册与登录，我们保证绝不滥用泄露您的数据，目前网站正在建设中，功能尚不全面，欢迎测试与使用。
        </span>
        <br>
        <br>
        <v-btn
          dark
          class="grey darken-3"
          @click.stop="logout"
        > 退出 </v-btn>

        <v-btn
          v-if="$store.state.authUser.admin"
          dark
          class="red darken-3"
          to="/admin"
        > 管理员 </v-btn>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      dialog: false
    };
  },
  methods: {
    async logout() {
      try {
        await this.$store.dispatch("logout").then(data => {
          this.$store.commit("snackbar/setSnack", {
            snack: data.message,
            color: data.result
          });
        });
      } catch (e) {}
    }
  }
};
</script>
