<template>
  <v-card flat>
    <v-layout
      v-show="submitted === false"
      row
      wrap
      class="my-5"
    >
      <v-flex
        xs8
        sm8
        md3
        offset-md1
        offset-sm2
        offset-xs2
      >
        <v-form>
          <v-text-field
            :rules="emailRules"
            v-model="signup_form.email"
            label="邮箱 (必须)"
            required
          />
          <v-text-field
            v-model="signup_form.password"
            label="密码 (必须)"
            type="password"
            required
          />
          <v-text-field
            v-model="confim_password"
            :rules="comfirmRules"
            label="请再次输入密码 (必须)"
            type="password"
            required
          />
          <v-btn
            dark
            style="background-color:#2e6fe5"
            @click.stop="signup"
          > 注册 </v-btn>
        </v-form>
      </v-flex>
    </v-layout>

    <v-layout
      v-show="submitted"
      row
      wrap
      class="my-5"
    >
      <v-flex
        xs8
        sm8
        md8
        offset-md1
        offset-sm2
        offset-xs2
      >
        <h1> 谢谢您的注册! 只差邮箱验证最后一步了</h1>
        <br>
        <v-divider />
        <br>
        <span style="font-size:16px">
          感谢您注册了树融评阅，一封含有验证链接的电子邮件已发送至您的注册邮箱，请直接点击邮箱内链接或将链接复制到浏览器打开，完成邮箱验证。
        </span>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      signup_form: {
        email: "",
        password: ""
      },
      confim_password: "",
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ],
      comfirmRules: [
        v => !!v || "Comfirm Pwd must be the same as left one.",
        v => v === this.signup_form.password || "Password must be valid"
      ],
      submitted: false
    };
  },
  methods: {
    async signup() {
      if (
        (this.signup_form.email === "") |
        (this.signup_form.password === "")
      ) {
        this.$store.commit("snackbar/setSnack", {
          snack: "You have required information unfilled.",
          color: "info"
        });
        return;
      }
      if (this.signup_form.password !== this.confim_password) {
        this.$store.commit("snackbar/setSnack", {
          snack: "Your password is not validated.",
          color: "error"
        });
        return;
      }
      const response = await this.$axios.$post(
        process.env.baseUrl + "/api/register/",
        this.signup_form
      );
      this.$store.commit("snackbar/setSnack", {
        snack: response.message,
        color: response.result
      });
      if (response.result === "success") {
        this.signup_form.email = "";
        this.signup_form.password = "";
        this.confim_password = "";

        this.submitted = true;
      }
    }
  }
};
</script>
