<template>
  <v-card flat>
    <v-layout
      v-show="submitted === false"
      row
      wrap
      class="my-5"
    >
      <v-flex
        xs8
        sm8
        md8
        offset-md1
        offset-sm2
        offset-xs2
      >
        <h1> 没有收到验证邮件？</h1>
        <br>
        <v-divider />
        <br>
        <span style="font-size:16px">
          如果您已经注册，我们应该已经寄送了一封验证邮件，您可以查看一下您的收件箱和垃圾箱。
          然而，如果您没有收到，您可以在下方输入您的邮箱，我们会再次给你发送一封验证邮件。
        </span>
      </v-flex>
      <v-flex
        xs8
        sm8
        md8
        offset-md1
        offset-sm2
        offset-xs2
      >
        <v-text-field
          :rules="emailRules"
          v-model="email"
          label="注册邮箱"
          required
          width="40%"
        />
        <br>
        <v-btn
          dark
          style="background-color:#2e6fe5"
          @click.stop="resend"
        > 重新发送 </v-btn>
      </v-flex>
    </v-layout>
    <v-layout
      v-show="submitted"
      row
      wrap
      class="my-5"
    >
      <v-flex
        xs8
        sm8
        md8
        offset-md1
        offset-sm2
      >
        <h1> 新验证邮件已经发送.</h1>
        <br>
        <v-divider />
      </v-flex>
    </v-layout>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ],
      submitted: false
    };
  },
  methods: {
    async resend() {
      const response = await this.$axios.$post(
        process.env.baseUrl + "/api/resend/",
        { email: this.email }
      );
      this.$store.commit("snackbar/setSnack", {
        snack: response.message,
        color: response.result
      });
      if (response.result === "success") {
        this.submitted = true;
      }
    }
  }
};
</script>
