<template>
  <v-footer
    light
    height="70"
    color="white"
    class="pa3"
  >
    <v-layout
      justify-center
      row
      wrap
    >
      <!-- <v-card-text>
        <v-btn
          v-for="icon in icons"
          :key="icon"
          class="mx-3 white--text"
          icon
        >
          <v-icon size="24px">{{ icon }}</v-icon>
        </v-btn>
      </v-card-text> -->

      <!-- <v-card-text class="indigo--text pt-0">
        GCGR is a medical scientific research project supported by CURK.
        This project is mainteined by University College London and University of Edinburgh.
        For now we are constructing the database and website, as well as culturing cell lines
        generated from various position from patients.
      </v-card-text> -->

      <v-card-text
        class="text-xs-center"
        style="color:#2E6FE5"
      >
        &copy;2019 — <strong>DataFusion. All Rights Reserved.</strong>
      </v-card-text>
    </v-layout>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
    icons: [
      "fab fa-facebook",
      "fab fa-twitter",
      "fab fa-google-plus",
      "fab fa-linkedin",
      "fab fa-instagram"
    ]
  })
};
</script>
