<template>
  <v-snackbar
    v-model="show"
    :color="color"
    top
  >
    {{ message }}
    <v-btn
      flat
      @click.native="show = false"
    >
      Close
    </v-btn>
  </v-snackbar>
</template>

<script>
export default {
  data() {
    return {
      show: false,
      color: "success",
      message: ""
    };
  },
  created: function() {
    this.$store.watch(
      state => state.snackbar.snack,
      () => {
        const msg = this.$store.state.snackbar.snack;
        if (msg !== "") {
          this.show = true;
          this.color = this.$store.state.snackbar.color;
          this.message = this.$store.state.snackbar.snack;
          this.$store.commit("snackbar/setSnack", {
            color: "success",
            snack: ""
          });
        }
      }
    );
  }
};
</script>
