<template>
  <div
    v-if="loading"
    class="loading-page"
  >
    <v-container
      justify-center
      fill-height
    >
      <div style="background-color: aliceblue;opacity: 0.7;padding:5em;border:2px solid #2E6FE5;border-radius:25px">
        <v-progress-circular
          :size="50"
          color="primary"
          indeterminate
        ></v-progress-circular>
        <div style="padding:1.5em">
          <span
            class="font-weight-black headline;"
            style="color:#2E6FE5"
          >载入中...</span>
        </div>
      </div>
    </v-container>

  </div>
</template>

<script>
export default {
  data: () => ({
    loading: false
  }),
  methods: {
    start() {
      this.loading = true;
    },
    finish() {
      this.loading = false;
    }
  }
};
</script>

<style scoped>
.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 10;
}
</style>
