<template>
  <v-content style="background-color:#EEEEEE">
    <v-container style="width:70%">

      <span
        class="grey--text"
        style="margin-left:1em"
      > 公开评阅项目 > </span>

      <nuxt-link
        :to="'/' + rating.name"
        style="text-decoration:none;"
        class=" linktype"
      >
        <span class="text-decoration:none;"> {{ rating.name }} </span>
      </nuxt-link>
      <span class="grey--text"> > 结果 </span>

      <div style="margin-top:1em">
        <v-card
          light
          class="font-weight-thin headline"
          style="background-color: white;"
        >
          <v-layout
            row
            wrap
          >
            <v-flex xs9>
              <v-card-actions style="padding:2em 1em">
                <span>{{ rating.name + ' — 结果' }}</span>
              </v-card-actions>
              <v-card-actions style="padding-top:0px;margin-top:0px;padding-left:1em;padding-bottom:0px;margin-bottom:0px">
                <v-checkbox
                  v-model="rating.resopen"
                  readonly
                  color="red"
                  style="padding-top:0px;margin-top:0px;padding-bottom:0px;margin-bottom:0px"
                >
                  <template v-slot:label>
                    <span class="black--text">
                      结果公开
                    </span>
                  </template>
                </v-checkbox>
              </v-card-actions>
            </v-flex>
            <v-flex xs3>
              <v-container
                justify-center
                fill-height
              >
                <v-img
                  :aspect-ratio="4/3"
                  height="auto"
                  width="6em"
                  :src="require('~/assets/image/result.png')"
                />
              </v-container>
            </v-flex>
          </v-layout>
        </v-card>
      </div>

      <div v-if="reviews.length > 0">
        <div
          v-if="sumresult != null"
          style="margin-top:1em"
        >
          <v-card
            light
            style="background-color: white;"
          >
            <v-card-title
              class="white--text title"
              style="background-color:#2E6FE5"
            >
              总分
            </v-card-title>
            <v-container>
              <v-layout
                justify-space-between
                fill-height
              >
                <span class="font-weight-black title"> {{ sumresult[0].name }} </span>
                <span class="font-weight-black subheading"> 总分： {{ sumresult[0].sum.toFixed(2) }} &nbsp;&nbsp; </span>

              </v-layout>
              <v-layout
                justify-space-between
                fill-height
                v-for="(m,id) in sumresult"
                v-show="id!==0 && m.sum === sumresult[0].sum"
                :key="id"
              >
                <span class="font-weight-black title"> {{ m.name }} </span>
                <span class="font-weight-black subheading"> 总分： {{ m.sum.toFixed(2) }} &nbsp;&nbsp;  </span>
              </v-layout>
            </v-container>

            <v-container>
              <v-layout
                justify-space-between
                fill-height
                style='padding-bottom:0.6em'
              >
                <span class="body-1"> 其他候选团队 </span>
              </v-layout>
              <v-layout
                justify-space-between
                fill-height
                v-for="(m,id) in sumresult"
                v-show="m.sum !== sumresult[0].sum"
                :key="id"
                style='padding-bottom:0.3em'
              >
                <span class="body-1"> {{ m.name }} </span>
                <span class=" body-1"> 总分： {{ m.sum.toFixed(2) }} &nbsp;&nbsp; </span>

              </v-layout>
            </v-container>
          </v-card>
        </div>

        <div
          v-for="(que, index) in result"
          :key="index"
          style="margin-top:1em"
        >
          <v-card
            light
            style="background-color: white;"
          >
            <v-card-title class="black--text title grey lighten-1">
              {{ que.name + ' — (' + rating.questions[index].weight + ')' }}
            </v-card-title>
            <v-container>
              <v-layout
                justify-space-between
                fill-height
              >
                <span class="font-weight-black title"> {{ que.data[0].name }} </span>
                <span class="font-weight-black subheading"> 总分： {{ Math.round(que.data[0].avg * 10) / 10 }}&nbsp;&nbsp;  </span>

              </v-layout>
              <v-layout
                justify-space-between
                fill-height
                v-for="(m,id) in que.data"
                v-show="id!==0 && m.avg === que.data[0].avg"
                :key="id"
              >
                <span class="font-weight-black title"> {{ m.name }} </span>
                <span class="font-weight-black subheading"> 总分： {{ Math.round(m.avg * 10) / 10 }} &nbsp; </span>
              </v-layout>
            </v-container>

            <v-container>
              <v-layout
                justify-space-between
                fill-height
                style='padding-bottom:0.6em'
              >
                <span class="body-1"> 其他候选团队 </span>
              </v-layout>
              <v-layout
                justify-space-between
                fill-height
                v-for="(m,id) in que.data"
                v-show="m.avg !== que.data[0].avg"
                :key="id"
                style='padding-bottom:0.3em'
              >
                <span class="body-1"> {{ m.name }} </span>
                <span class=" body-1"> 总分： {{ Math.round(m.avg * 10) / 10 }} &nbsp;&nbsp; </span>

              </v-layout>
            </v-container>
          </v-card>
        </div>
      </div>
      <div v-else>
        <v-card-text>
          <div class="text-xs-center display-1 grey--text text--lighten-1">
            尚没有哪怕一条有效评阅。
          </div>
        </v-card-text>
      </div>

    </v-container>
  </v-content>
</template>

<script>
import axios from "axios";

export default {
  async asyncData({ store, params, query, redirect }) {
    let data = await axios({
      method: "POST",
      headers: { token: store.state.token },
      data: {
        name: params.ratingname
      },
      url: process.env.baseUrl + "/api/review/getRatingResult"
    });
    store.commit("snackbar/setSnack", {
      snack: data.data.message,
      color: data.data.result
    });
    if (data.data.result === "error") {
      redirect("/");
    }
    // console.log(data.data.reviews)
    return {
      rating: data.data.rating,
      reviews: data.data.reviews
    };
  },
  data() {
    return {
      rating: [],
      reviews: [],
      result: [],
      sumresult: null,
      optionslist: []
    };
  },
  mounted() {
    let ra = this.rating;
    let re = this.reviews;
    let result = [];

    for (var i = 0; i < ra.questions.length; i++) {
      result.push({
        name: ra.questions[i].name,
        data: []
      });
      for (var j = 0; j < ra.options.length; j++) {
        result[i].data.push({ name: ra.options[j].name, avg: 0, value: [] });
      }
    }
    re.forEach(x => {
      for (let j = 0; j < x.review.length; j++) {
        for (let i = 0; i < x.review[j].answer.length; i++) {
          x.review[j].answer[i] = parseInt(x.review[j].answer[i])
          if (typeof x.review[j].answer[i] === "number") {
            let tmpvalue = x.review[j].answer[i];
            result[i].data[j].avg += tmpvalue;
            result[i].data[j].value.push(tmpvalue);
          }
        }
      }
    });

    let sum = [];
    ra.options.forEach(x => {
      sum.push({ name: x.name, sum: 0, value: [] });
    });

    result.forEach((x, index) => {
      for (let i = 0; i < x.data.length; i++) {
        sum[i].sum +=
          x.data[i].avg * parseFloat(ra.questions[index].weight) * 0.01;
        sum[i].value.push(x.data[i].avg);
      }
      x.data = x.data.sort(function(obj1, obj2) {
        return obj2.avg - obj1.avg;
      });
    });
    sum = sum.sort(function(obj1, obj2) {
      return obj2.sum - obj1.sum;
    });

    let optionslist = [];
    ra.options.forEach(x => {
      optionslist.push(x.name);
    });

    this.result = result;
    this.sumresult = sum;
    this.optionslist = optionslist;
  }
};
</script>

<style>
.linktype {
  color: grey;
}
.linktype:hover {
  color: #2e6fe5;
}
</style>
