<template>
  <v-app>
    <v-toolbar
      fixed
      flat
      app
      color="white"
      style="font-family: Microsoft YaHei ! important;"
    >
      <v-spacer />
      <nuxt-link to="/">

        <img
          src="~/assets/image/logo.jpg"
          style="height:35px"
        >

      </nuxt-link>
      <!-- <v-toolbar-title class="font-weight-black">
        <nuxt-link
          id="title"
          to="/"
          style="color: #2E6FE5"
        > {{ title }} </nuxt-link>
      </v-toolbar-title> -->

      <v-spacer />

      <v-btn
        flat
        to="/judge"
        class="subheading font-weight-black light"
        active-class="blue darken-3 white--text"
      >
        评委入口
      </v-btn>
      <!-- <v-btn
        flat
        to="/about"
        class="subheading font-weight-black"
        style="color: black"
      >
        关于/更新
      </v-btn> -->

      <v-btn
        v-if="$store.state.authUser === null"
        icon
        to="/login"
      >
        <v-icon
          size="34"
          color="grey"
        >account_circle</v-icon>
      </v-btn>

      <v-menu
        v-if="$store.state.authUser !== null"
        transition="slide-x-transition"
        bottom
        right
      >
        <v-btn
          slot="activator"
          icon
        >
          <v-icon
            size="34"
            color="#2E6FE5"
          >account_circle</v-icon>
        </v-btn>

        <v-list>
          <v-list-tile>
            <v-list-tile-title style="color: #0D47A1;font-weight:bolder">{{ $store.state.authUser.email }}</v-list-tile-title>
          </v-list-tile>
          <v-list-tile
            v-for="(item, index) in WordsLink"
            :key="index"
            :to="item.to"
          >
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>

      <v-spacer />
    </v-toolbar>

    <nuxt />

    <Footer />
    <snackbar />
  </v-app>
</template>

<script>
import Footer from "~/components/layout/Footer";
import snackbar from "~/components/layout/snackbar";

export default {
  // middleware: "auth",
  components: {
    Footer,
    snackbar
  },
  data() {
    return {
      title: "树融评阅",
      WordsLink: [
        { title: "我的项目", to: "/mypage" },
        { title: "退出", to: "/login" }
      ]
    };
  }
};
</script>

<style>
#LogoButton {
  color: white !important;
  transition: none !important;
  border: none !important;
}

#LogoButton:hover {
  color: white !important;
  transition: none !important;
  border: none !important;
}
#title {
  text-decoration: none;
}

#title:hover {
  font-weight: bolder;
}
</style>

