<template>
  <v-content style="background-color:#EEEEEE">
    <v-container style="width:70%;">
      <nuxt-link
        to="/mypage"
        style="text-decoration:none;color:gray;"
      >
        <span
          class=" linktype"
          style="margin-left:1em"
        > 查看我的评阅项目 </span>
      </nuxt-link>
      <span class="text-decoration:none;color:gray"> > 新建评阅项目 </span>

      <v-stepper
        v-model="e1"
        non-linear
        style="margin-top:1em"
        class="elevation-0 transparent"
      >
        <v-stepper-header class="elevation-0 transparent">
          <template v-for="(item,index) in mysteps">
            <v-stepper-step
              :key="index"
              :step="index + 1"
              editable
            >
              {{ item }}
            </v-stepper-step>

            <v-divider
              v-if="index + 1 !== mysteps.length"
              :key="index + 1"
            ></v-divider>
          </template>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1">
            <v-card
              class="transparent"
              flat
            >
              <div>
                <v-card-title class="subheading ">
                  项目名称 <span style="color:red">*</span>
                </v-card-title>
                <v-text-field
                  v-model="rating.name"
                  label="输入项目名称"
                  single-line
                  solo
                  flat
                >
                </v-text-field>
              </div>

              <div>
                <v-card-title class="subheading ">
                  项目说明
                </v-card-title>
                <v-textarea
                  v-model="rating.des"
                  solo
                  flat
                  name="input-7-4"
                  label="输入项目说明，（最多600字）。"
                ></v-textarea>
              </div>

              <div>
                <v-card-title class="subheading ">
                  评阅方式 <span style="color:red">*</span>
                </v-card-title>
                <!-- <v-container
                  class="white"
                  justify-center
                  fill-height
                  style="padding:0px 0.5em"
                >
                  <v-checkbox
                    disabled
                    color="green"
                    label="判断制 （尚在开发）"
                  />
                </v-container>

                <v-container
                  class="white"
                  justify-center
                  fill-height
                  style="padding:0px 0.5em;margin-top:0.3em"
                >
                  <v-checkbox
                    disabled
                    color="green"
                    label="责任制（尚在开发）"
                  />
                </v-container> -->

                <v-container
                  class="white"
                  justify-center
                  fill-height
                  style="padding:0px 0.5em;margin-top:0.3em"
                >
                  <v-checkbox
                    v-model="weightcheck"
                    color="green"
                    label="权重制"
                  />
                </v-container>
              </div>

              <div>
                <v-card-title class="subheading font-weight-black">
                  评分方式解释
                </v-card-title>
                <v-card flat>
                  <v-card-text>
                    <span class="subheading">判断制</span>
                    <br>
                    <span>即评阅者有一票否决权，建议适用单一评阅者、多项目情况；</span>
                  </v-card-text>
                  <v-card-text>
                    <span class="subheading">责任制</span>
                    <br>
                    <span>即评阅者对项目打分形式，建议适用多项目情况，评阅者不限；</span>
                  </v-card-text>
                  <v-card-text>
                    <span class="subheading">权重制</span>
                    <br>
                    <span>即评阅者对项目从不同纬度打分，建议适用于多位评阅者同时打分的情况，并可根据单一唯独设置单项奖项。</span>
                  </v-card-text>

                </v-card>
              </div>
            </v-card>
            <v-container
              justify-center
              fill-height
            >
              <v-btn
                large
                dark
                class="font-weight-black"
                style="background-color:red"
                @click.stop="e1 += 1;"
              >下一步</v-btn>
            </v-container>
          </v-stepper-content>

          <v-stepper-content step="2">
            <v-card class="transparent">
              <div>
                <v-card-title class="subheading ">
                  维度选项 *
                </v-card-title>
                <v-card
                  v-if="rating.method === ''"
                  style="padding-left:8em;padding-right:8em;padding-bottom:3em"
                >
                  <v-card-text>
                    <div class="text-xs-center headline grey--text text--lighten-1">
                      您尚未选择任何一种评阅方式。
                    </div>
                    <br>
                    <div class="text-xs-center title grey--text text--lighten-1">
                      请在左边“基本信息”中选择。
                    </div>
                  </v-card-text>
                </v-card>

                <v-card
                  v-else
                  style="padding-left:8em;padding-right:8em;padding-bottom:3em"
                >
                  <v-layout
                    row
                    wrap
                  >
                    <v-flex xs4>
                      <v-container
                        justify-center
                        fill-height
                      >
                        <v-icon
                          :size="60"
                          color="red"
                          @click="rating.questions.length > 1 ? rating.questions.splice(-1,1) : ''"
                        >
                          indeterminate_check_box
                        </v-icon>
                      </v-container>
                    </v-flex>
                    <v-flex>
                      <v-container
                        fill-height
                        justify-center
                      >
                        <span class="display-3 font-weight-thin"> {{ rating.questions.length }} </span>
                      </v-container>
                    </v-flex>

                    <v-flex xs4>
                      <v-container
                        justify-center
                        fill-height
                      >
                        <v-icon
                          :size="60"
                          color="red"
                          @click="rating.questions.push({name: '某问题', weight: '5%'})"
                        >
                          add_box
                        </v-icon>
                      </v-container>
                    </v-flex>
                  </v-layout>
                  <transition-group
                    name="slide-fade"
                    tag="v-layout"
                  >
                    <v-layout
                      v-for="(item,index) in rating.questions"
                      :key="index + 1"
                      style="padding-left:4em;padding-right:4em"
                      row
                      wrap
                    >
                      <v-flex xs4>
                        <v-subheader class="subheading">维度 {{ index + 1 }} </v-subheader>
                      </v-flex>
                      <v-flex xs8>
                        <v-textarea
                          v-model="item.name"
                          solo-inverted
                          rows="2"
                        />
                      </v-flex>
                      <v-flex xs4>
                        <v-subheader class="subheading">权重 {{ index + 1 }} </v-subheader>
                      </v-flex>
                      <v-flex xs8>
                        <v-select
                          v-model="item.weight"
                          :items="percent"
                          label="百分比"
                          solo
                          class="font-weight-black"
                          color="red"
                        ></v-select>
                      </v-flex>

                      <div style="padding-top:20px;padding-bottom:20px;width:100%">
                        <v-divider style="border:1px #EEEEEE solid;" />
                      </div>

                    </v-layout>
                  </transition-group>
                </v-card>
              </div>

              <div>
                <v-card-title class="subheading ">
                  评阅对象 *
                </v-card-title>
                <v-card style="padding-left:8em;padding-right:8em;padding-bottom:3em">
                  <v-layout
                    row
                    wrap
                  >
                    <v-flex xs4>
                      <v-container
                        justify-center
                        fill-height
                      >
                        <v-icon
                          :size="60"
                          color="red"
                          @click="rating.options.length > 1 ? rating.options.splice(-1,1) : ''"
                        >
                          indeterminate_check_box
                        </v-icon>
                      </v-container>
                    </v-flex>
                    <v-flex>
                      <v-container
                        fill-height
                        justify-center
                      >
                        <span class="display-3 font-weight-thin"> {{ rating.options.length }}</span>
                      </v-container>
                    </v-flex>

                    <v-flex xs4>
                      <v-container
                        justify-center
                        fill-height
                      >
                        <v-icon
                          :size="60"
                          color="red"
                          @click="rating.options.push({name: '某候选项'})"
                        >
                          add_box
                        </v-icon>
                      </v-container>
                    </v-flex>
                  </v-layout>
                  <v-layout
                    v-for="(item,index) in rating.options"
                    :key="index + 1"
                    style="padding-left:4em;padding-right:4em"
                  >
                    <v-flex xs4>
                      <v-subheader class="subheading">项目 {{ index + 1 }} </v-subheader>
                    </v-flex>
                    <v-flex xs8>
                      <v-text-field
                        v-model="item.name"
                        solo-inverted
                        label="请输入项目名称"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-card>
              </div>
            </v-card>
            <v-container
              justify-center
              fill-height
            >
              <v-btn
                large
                dark
                class="font-weight-black"
                style="background-color:red"
                @click.stop="e1 += 1"
              >下一步</v-btn>
            </v-container>
          </v-stepper-content>

          <v-stepper-content step="3">
            <div>
              <v-card-title class="subheading ">
                评阅链接
              </v-card-title>
              <v-card style="padding-left:8em;padding-right:8em">
                <v-container
                  justify-center
                  fill-height
                >
                  <span class="subheading">评阅链接 &#160;</span>
                  <nuxt-link
                    to="/"
                    style="color:red"
                  >
                    hyperlink button
                  </nuxt-link>
                  <v-btn
                    color="red"
                    dark
                    small
                  >
                    复制
                  </v-btn>
                </v-container>
              </v-card>
            </div>

            <div>
              <v-card-title class="subheading ">
                评阅权限
              </v-card-title>
              <v-card style="padding-left:8em;padding-right:8em">
                <v-layout
                  row
                  wrap
                >
                  <v-flex
                    xs12
                    md6
                  >
                    <v-layout justify-center>
                      <v-card-actions>
                        <v-switch
                          v-model="rating.resopen"
                          color="red"
                        >
                          <template v-slot:label>
                            <strong class="gray--text">公开评阅结果</strong>
                          </template>
                        </v-switch>
                      </v-card-actions>
                    </v-layout>
                  </v-flex>

                  <v-flex
                    xs12
                    md6
                  >
                    <v-layout justify-center>
                      <v-card-actions>
                        <v-switch
                          v-model="rating.queopen"
                          color="red"
                        >
                          <template v-slot:label>
                            <strong class="gray--text">开始评阅</strong>
                          </template>
                        </v-switch>
                      </v-card-actions>
                    </v-layout>
                  </v-flex>

                </v-layout>
              </v-card>
            </div>

            <div>
              <v-card-title class="
                    subheading ">
                评阅码
              </v-card-title>
              <v-card style="
                    padding-left:8em;padding-right:8em;padding-bottom:3em;">
                <v-layout
                  row
                  wrap
                  style="margin-bottom:3em"
                >
                  <v-flex xs4>
                    <v-container
                      justify-center
                      fill-height
                    >
                      <v-icon
                        :size="60"
                        color="red"
                        @click="rating.code.length > 0 ? rating.code.splice(-1,1) : ''"
                      >
                        indeterminate_check_box
                      </v-icon>
                    </v-container>
                  </v-flex>
                  <v-flex>
                    <v-container
                      fill-height
                      justify-center
                    >
                      <v-layout
                        class="justify-center"
                        column
                      >
                        <v-card-actions class="justify-center">
                          <span class="display-3 font-weight-thin"> {{ rating.code.length }} </span>
                        </v-card-actions>
                        <v-card-actions class="justify-center">
                          <span class="font-weight-thin">位评阅者</span>
                        </v-card-actions>
                      </v-layout>

                    </v-container>
                  </v-flex>

                  <v-flex xs4>
                    <v-container
                      justify-center
                      fill-height
                    >
                      <v-icon
                        :size="60"
                        color="red"
                        @click="rating.code.push((
              Math.random()
                .toString(36)
                .substring(2, 6) +
              Math.random()
                .toString(36)
                .substring(2, 6)
            ).toUpperCase())"
                      >
                        add_box
                      </v-icon>
                    </v-container>
                  </v-flex>
                  <!-- <v-flex
                    xs4
                    offset-xs4
                    justify-center
                  >
                    <v-card-actions justify-center>
                      <v-btn
                        large
                        dark
                        block
                        class="font-weight-black"
                        style="background-color:red;width:200px"
                      >生成新评阅码</v-btn>
                    </v-card-actions>
                  </v-flex> -->
                </v-layout>

                <v-layout
                  v-for="(item,index) in rating.code"
                  :key="index"
                  style="padding-left:4em;padding-right:4em"
                >
                  <v-flex xs4>
                    <v-subheader class="subheading">评阅码 {{ index + 1 }} </v-subheader>
                  </v-flex>
                  <v-flex xs8>
                    <v-text-field
                      :value="item"
                      class="font-weight-black"
                      solo
                      readonly
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-card>
            </div>
            <v-container
              justify-center
              fill-height
            >
              <v-btn
                large
                dark
                class="font-weight-black"
                style="background-color:red"
                @click.stop="e1 += 1;"
              >下一步</v-btn>
            </v-container>
          </v-stepper-content>

          <v-stepper-content step="4">
            <div>
              <v-card-title class="subheading font-weight-black">
                新建项目-总览-保存
              </v-card-title>
              <v-card
                flat
                style="padding:2em"
              >
                <v-card-text>
                  <span class="title">项目名称</span>
                  <br>
                  <span> {{ rating.name }} </span>
                </v-card-text>
                <v-card-text>
                  <span class="title">项目说明</span>
                  <br>
                  <span> {{ rating.des }} </span>
                </v-card-text>
                <v-card-text>
                  <span class="title">评分方式</span>
                  <br>
                  <span> {{ rating.method }} </span>
                </v-card-text>
                <v-card-text>
                  <span class="title">维度设置</span>
                  <br>
                  <span
                    v-for="(item,index) in rating.questions"
                    :key="index"
                    style="display: block"
                  >
                    {{ (index + 1) + ' ' + item.name + ' (' + item.weight + ') \n' }}
                  </span>
                </v-card-text>
                <v-card-text>
                  <span class="title">评阅对象</span>
                  <br>
                  <span
                    v-for="(item,index) in rating.options"
                    :key="index"
                    style="display: block"
                  >
                    {{ (index + 1) + ' 项目 ' + item.name + ' \n' }}
                  </span>
                </v-card-text>

              </v-card>
              <v-container v-if="!newrating">
                <small>为了保证评卷的真实有效性，编辑之后，除了"公开评阅结果"和"开始评阅"两个选项，<strong class="red--text">其他的所有项目一旦监测到发生修改，所有过往评阅记录都将被删除。</strong></small>
              </v-container>
            </div>
            <v-container
              justify-center
              fill-height
            >
              <v-btn
                large
                dark
                class="font-weight-black"
                style="background-color:red"
                @click.stop="SaveCheck"
              >保存项目</v-btn>
            </v-container>
          </v-stepper-content>

        </v-stepper-items>
      </v-stepper>

    </v-container>

    <v-dialog
      v-if="savedialog"
      v-model="savedialog"
      width="500"
    >
      <v-card>
        <v-card-title
          class="headline font-weight-black"
          style="background-color:red;color:white"
          primary-title
        >
          请确认保存
        </v-card-title>

        <v-container v-show="changed.length === 0">
          <div
            class="title grey--text font-weight-light"
            style="align-self: center;"
          >
            您没有任何修改项，不需要保存。
          </div>
        </v-container>

        <v-container v-show="changed.length > 0">
          <span class="body-2 grey--text">以下是检测到有过修改的项:</span>
          <v-layout
            align-center
            wrap
            style="margin-bottom:30px"
          >
            <div
              v-for="(item,index) in changed"
              :key="index"
              class="subheading font-weight-black"
            >
              <v-chip
                v-if="item === 'name'"
                label
                color="red"
                text-color="white"
              >项目标题</v-chip>
              <v-chip
                v-if="item === 'des'"
                label
                color="red"
                text-color="white"
              >项目介绍</v-chip>
              <v-chip
                v-if="item === 'method'"
                label
                color="red"
                text-color="white"
              >打分方式</v-chip>
              <v-chip
                v-if="item === 'options'"
                label
                color="red"
                text-color="white"
              >候选项目</v-chip>
              <v-chip
                v-if="item === 'questions'"
                label
                color="red"
                text-color="white"
              >评阅问题</v-chip>
              <v-chip
                v-if="item === 'queopen'"
                label
                outline
                color="red"
              >评卷开放</v-chip>
              <v-chip
                v-if="item === 'resopen'"
                label
                outline
                color="red"
              >结果开放</v-chip>
              <v-chip
                v-if="item === 'code'"
                label
                color="red"
                text-color="white"
              >评阅密码</v-chip>
            </div>
          </v-layout>
          <span
            v-if="!newrating"
            class="body-2 grey--text"
          ><b style="color:red">红底项目的修改会导致所有已经评阅结果的修改</b>，白底项目用于控制评卷和结果的可见范围，不会删除已评阅结果。</span>
        </v-container>

        <v-card-actions>
          <v-spacer />
          <v-btn
            color="#2E6FE5"
            dark
            @click="savedialog = false"
          >
            返回
          </v-btn>
          <v-btn
            v-if="newrating"
            color="red"
            dark
            @click="SaveCreate();savedialog = false"
          >
            确认
          </v-btn>
          <v-btn
            v-else
            color="red"
            dark
            @click="SaveEdit();savedialog = false"
          >
            确认
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-content>
</template>

<script>
import axios from "axios";

export default {
  middleware: "auth",
  async asyncData({ store, query }) {
    if (query.id !== undefined) {
      const options = {
        method: "POST",
        headers: { token: store.state.token },
        data: {
          id: query.id
        },
        url: process.env.baseUrl + "/api/rating/getonerating"
      };
      let data = await axios(options);
      store.commit("snackbar/setSnack", {
        snack: data.data.message,
        color: data.data.result
      });
      let cloneOfrating = JSON.parse(JSON.stringify(data.data.rating));
      return {
        rating: data.data.rating,
        rating_backup: cloneOfrating,
        weightcheck: true,
        newrating: false
      };
    } else {
      store.commit("snackbar/setSnack", {
        snack: "在此新建项目",
        color: "success"
      });

      let tmp = {
        email: "",
        name: "",
        des: "",
        method: "",
        questions: [],
        options: [],
        hyperlink: "",
        resopen: false,
        queopen: false,
        code: [],
        created_at: "",
        updated_at: ""
      };

      let cloneOfrating = JSON.parse(JSON.stringify(tmp));
      return {
        rating: tmp,
        rating_backup: cloneOfrating,
        weightcheck: false,
        newrating: true
      };
    }
  },
  data() {
    return {
      newrating: true,
      e1: 1,
      steps: 4,
      mysteps: ["基本信息", "维度选项", "评委设置", "总览保存"],
      weightcheck: false,
      percent: [
        "5%",
        "10%",
        "15%",
        "20%",
        "25%",
        "30%",
        "35%",
        "40%",
        "45%",
        "50%",
        "55%",
        "60%",
        "65%",
        "70%",
        "75%",
        "80%",
        "85%",
        "90%",
        "95%",
        "100%"
      ],
      rating: [],
      rating_backup: [],
      changed: [],
      deletereviews: false,
      savedialog: false
    };
  },
  watch: {
    weightcheck() {
      this.weightcheck
        ? (this.rating.method = "权重制")
        : (this.rating.method = "");
    }
  },
  methods: {
    SaveCheck() {
      this.changed = [];
      let difference = Object.keys(this.rating).filter(
        x =>
          JSON.stringify(this.rating[x]) !==
          JSON.stringify(this.rating_backup[x])
      );
      this.changed = difference;
      this.deletereviews =
        this.changed.filter(x =>
          ["name", "des", "method", "options", "questions", "code"].includes(x)
        ).length > 0;
      this.savedialog = true;
    },

    async SaveCreate() {
      if (this.$store.state.authUser === null) {
        this.$store.commit("snackbar/setSnack", {
          snack: "您尚未登录。",
          color: "info"
        });
        return;
      }
      const options = {
        method: "POST",
        headers: { token: this.$store.state.token },
        data: {
          email: this.$store.state.authUser.email,
          rating: this.rating,
          deletereviews: this.deletereviews
        },
        url: process.env.baseUrl + "/api/rating/create"
      };
      const data = await this.$axios(options);
      this.$store.commit("snackbar/setSnack", {
        snack: data.data.message,
        color: data.data.result
      });
    },

    async SaveEdit() {
      if (this.$store.state.authUser === null) {
        this.$store.commit("snackbar/setSnack", {
          snack: "您尚未登录。",
          color: "info"
        });
        return;
      }
      const options = {
        method: "POST",
        headers: { token: this.$store.state.token },
        data: {
          email: this.$store.state.authUser.email,
          rating: this.rating,
          deletereviews: this.deletereviews
        },
        url: process.env.baseUrl + "/api/rating/edit"
      };
      const data = await this.$axios(options);
      this.$store.commit("snackbar/setSnack", {
        snack: data.data.message,
        color: data.data.result
      });
      if (data.data.result === "success") {
        this.rating_backup = JSON.parse(JSON.stringify(this.rating));
      }
    }
  }
};
</script>

<style>
slide-fade-enter-active {
  transition: all 0.2s ease;
}
.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>
