<template>
  <v-content style="background-color: #2E6FE5">
    <v-container
      justify-center
      fill-height
    >
      <v-card
        flat
        color="transparent"
      >
        <v-card-text>
          <div class="text-xs-center">
            <span style="font-size:20px;font-weight:bold;color:white;padding-bottom:10px">每一个分数都有使命，每一次投票都有意义。</span>
          </div>
        </v-card-text>
        <!-- <v-divider style="border:1px white solid;" /> -->
        <v-card-title>
          <input
            id="RoomInput"
            v-model="roomID"
            @focus="checkRoom"
            @blur="blurRoom"
          >
          <nuxt-link :to="'/' + roomID">
            <span
              id="Room"
              class="clickable"
            >结果</span>
          </nuxt-link>

        </v-card-title>
        <v-img
          :aspect-ratio="16/9"
          :src="require('~/assets/image/index.jpg')"
        />
        <!-- <v-card-text>
          <div class="text-xs-center">
            <span style="font-size:15px;color:white;padding-bottom:10px">试试输入（点击）：</span>
            <a
              style="font-size:15px;color:white;padding-bottom:10px"
              @click.stop="testcase('权力的游戏各方势力评价')"
            >权力的游戏各方势力评价</a>
            <span style="font-size:15px;color:white;padding-bottom:10px"> &nbsp; 、 &nbsp;</span>
            <a
              style="font-size:15px;color:white;padding-bottom:10px"
              @click.stop="testcase('JavaScript框架战争')"
            >JavaScript框架战争</a>
          </div>
        </v-card-text> -->
      </v-card>
    </v-container>
  </v-content>
</template>

<script>
export default {
  created() {
    this.$store.commit("snackbar/setReview", {
        afterReview: false
      });
  },
  data() {
    return {
      roomID: "某个待查看项目名",
      gradient: "to left, rgba(255,255,255, .5), rgba(255,255,255, 0.5)"
    };
  },
  methods: {
    testcase(str) {
      this.roomID = str;
    },
    checkRoom() {
      this.roomID = this.roomID == "某个待查看项目名" ? "" : this.roomID;
      // console.log(this.roomID)
    },
    blurRoom() {
      this.roomID = this.roomID == "" ? "某个待查看项目名" : this.roomID;
    },
  }
};
</script>


<style>
#Room {
  font-size: 25px;
  font-weight: bolder;
  width: 4.3em;
  padding: 0.3em 0.5em;
  margin: 4px;
  display: inline-block;
  border: 4px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  text-align:center;
}

#RoomInput {
  font-size: 25px;
  font-weight: bolder;
  background-color: white;
  color: #2e6fe5;
  width: 450px;
  padding: 0.5em;
  margin: 4px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
}

.clickable {
  cursor: pointer;
  margin: 25px;
}


</style>
