<template>
  <v-content>
    <v-container>
      <v-card style="padding-bottom:50px">
        <v-tabs
          v-model="active_tab"
          fixed-tabs
        >
          <v-tab
            v-if="$store.state.authUser === null && !$store.state.snackbar.afterReview"
            style="font-weight:bolder"
          >登录</v-tab>
          <v-tab
            v-if="$store.state.authUser === null && !$store.state.snackbar.afterReview"
            style="font-weight:bolder"
          >注册</v-tab>
          <v-tab
            v-if="$store.state.authUser === null && !$store.state.snackbar.afterReview"
            style="font-weight:bolder"
          >验证</v-tab>
          <v-tab
            v-if="$store.state.authUser !== null && !$store.state.snackbar.afterReview"
            style="font-weight:bolder"
          >退出</v-tab>

          <v-tab-item v-if="$store.state.authUser === null && !$store.state.snackbar.afterReview">
            <login />
          </v-tab-item>

          <v-tab-item v-if="$store.state.authUser === null && !$store.state.snackbar.afterReview">
            <signup />
          </v-tab-item>

          <v-tab-item v-if="$store.state.authUser === null && !$store.state.snackbar.afterReview">
            <valid />
          </v-tab-item>

          <v-tab-item v-if="$store.state.authUser !== null && !$store.state.snackbar.afterReview">
            <logout />
          </v-tab-item>

          <v-tab-item v-if="$store.state.snackbar.afterReview">
            <afterReview />
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-container>
  </v-content>
</template>

<script>
import login from "~/components/login/login";
import signup from "~/components/login/signup";
import valid from "~/components/login/valid";
import logout from "~/components/login/logout";
import afterReview from "~/components/login/afterReview";

export default {
  components: {
    login,
    signup,
    valid,
    logout,
    afterReview
  },
  data() {
    return {
      active_tab: 0
    };
  }
};
</script>
