<template>
  <v-content>
    <v-container style="width:70%">
      <nuxt-link
        to="/mypage"
        style="text-decoration:none;color:gray;"
      >
        <span
          class=" linktype"
          style="margin-left:1em"
        > 查看我的评阅项目 </span>
      </nuxt-link>

      <nuxt-link
        to="/edit"
        style="text-decoration: none"
      >
        <v-card
          light
          class="font-weight-thin headline"
          style="background-color: white;border-radius:5px;margin-top:1em"
        >
          <v-card-title style="padding:1em">
            <span>新建评阅项目</span>
          </v-card-title>
        </v-card>
      </nuxt-link>
      <!-- <div style="padding-top:20px;padding-bottom:20px;">
        <v-divider style="border:1px #2E6FE5 solid;" />
      </div> -->

      <v-card-text v-if="MyRatings.length === 0">
        <div class="text-xs-center display-1 grey--text text--lighten-1">
          您尚未创建任何评阅项目。
        </div>
      </v-card-text>

      <div v-else>
        <div
          v-for="(item,index) in MyRatings"
          :key="index"
          style="margin-top:1em"
        >
          <v-card-title class="title">
            {{ item.name }}
          </v-card-title>
          <v-layout
            row
            wrap
          >
            <v-flex xs12>
              <v-card>
                <v-card-text class="grey subheading">
                  未评阅
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs3>
              <nuxt-link
                :to="'/edit?id='+ item._id"
                style="text-decoration:none"
              >
                <v-card
                  class="white"
                  hover
                  light
                  style="margin-right:5px;margin-top:10px"
                >
                  <v-card-text class="subheading">
                    编辑评阅项目
                  </v-card-text>
                </v-card>
              </nuxt-link>
            </v-flex>
            <v-flex xs3>
              <nuxt-link
                :to="'/judge/' + item.name + '/review'"
                style="text-decoration:none"
              >
                <v-card
                  hover
                  dark
                  style="margin-left:5px;margin-top:10px;background-color:#2E6FE5"
                >
                  <v-card-text class="subheading">
                    评阅卷面预览
                  </v-card-text>
                </v-card>
              </nuxt-link>
            </v-flex>
            <v-flex xs3>
              <nuxt-link
                :to="'/' + item.name + '/result'"
                style="text-decoration:none"
              >
                <v-card
                  hover
                  dark
                  style="margin-left:5px;margin-top:10px;background-color:#2E6FE5"
                >
                  <v-card-text class="subheading">
                    查看评阅结果
                  </v-card-text>
                </v-card>
              </nuxt-link>
            </v-flex>
            <v-flex xs3>
              <v-card
                class="red clickable"
                dark
                style="margin-left:5px;margin-top:10px"
                @click="deleteindex = index;deletedialog = true"
              >
                <v-card-text class="subheading">
                  删除评阅项目
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>

        </div>
      </div>

    </v-container>

    <v-dialog
      v-if="deletedialog"
      v-model="deletedialog"
      width="500"
    >
      <v-card>
        <v-card-title
          class="headline font-weight-black"
          style="background-color:red;color:white"
          primary-title
        >
          删除确认
        </v-card-title>

        <v-layout my-5>
          <v-card-text>
            <div
              class="text-xs-center title font-weight-black"
              style="color:red;margin:20px"
            >{{ MyRatings[deleteindex].name }}</div>
            <div
              class="body-2 font-weight-thin gray--text text--darken-2 text-xs-center"
              style="margin:20px"
            >
              一旦删除，所有原设定，已评阅结果都不可能再找回来了。
            </div>
          </v-card-text>

        </v-layout>

        <v-divider />

        <v-card-actions>
          <v-spacer />
          <v-btn
            dark
            color="grey"
            class="font-weight-black"
            @click="deletedialog = false"
          >
            放弃
          </v-btn>
          <v-btn
            dark
            color="#FF5252"
            class="font-weight-black"
            @click="DeleteRoom(MyRatings[deleteindex]._id);deletedialog = false"
          >
            确认
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-content>
</template>

<script>
import axios from "axios";

export default {
  middleware: "auth",
  async asyncData({ store }) {
    let data = await axios.get(
      process.env.baseUrl + "/api/rating/getmyratings",
      {
        headers: { token: store.state.token }
      }
    );
    store.commit("snackbar/setSnack", {
      snack: data.data.message,
      color: data.data.result
    });
    return { MyRatings: data.data.ratings };
  },
  data() {
    return {
      MyRatings: [],
      deletedialog: false,
      deleteindex: -1
    };
  },
  methods: {
    // async AddRoom() {
    //   if (this.$store.state.authUser === null) {
    //     this.$store.commit("snackbar/setSnack", {
    //       snack: "您尚未登录。",
    //       color: "info"
    //     });
    //     return;
    //   }

    //   if (this.MyRooms.length == 0) {
    //     var n = 1;
    //   } else {
    //     var n =
    //       parseInt(
    //         this.MyRooms[this.MyRooms.length - 1].index.split("_").pop()
    //       ) + 1;
    //   }

    //   let tmp = this.$store.state.authUser.email + "_" + n;

    //   const options = {
    //     method: "POST",
    //     headers: { token: this.$store.state.token },
    //     data: { email: this.$store.state.authUser.email, index: tmp },
    //     url: this.getGlobalURL() + "/api/rating/create"
    //   };
    //   const { data } = await this.$axios(options);

    //   this.$store.commit("snackbar/setSnack", {
    //     snack: data.data.message,
    //     color: data.data.result
    //   });

    //   if (data.data.result === "success") this.MyRooms.push(data.data.rating);
    // },
    async DeleteRoom(id) {
      if (this.$store.state.authUser === null) {
        this.$store.commit("snackbar/setSnack", {
          snack: "您尚未登录。",
          color: "info"
        });
        return;
      }

      const options = {
        method: "POST",
        headers: { token: this.$store.state.token },
        data: { email: this.$store.state.authUser.email, id: id },
        url: process.env.baseUrl + "/api/rating/delete"
      };
      const data = await this.$axios(options);

      this.$store.commit("snackbar/setSnack", {
        snack: data.data.message,
        color: data.data.result
      });

      if (data.data.result === "success")
        this.MyRatings = this.MyRatings.filter(x => x.name !== data.data.name);
    }
  }
};
</script>

<style>
.clickable {
  cursor: pointer;
}
.clickable:hover {
  cursor: pointer;
}
</style>