<template>
  <v-app light>
    <v-content style="font-family: 'Ubuntu', mono;">
      <v-container>
        <v-layout
          row
          wrap
          class="my-5"
        >
          <v-flex
            xs8
            sm8
            md8
            offset-sm2
            offset-md2
          >
            <h1> {{ user.email }} 已经被验证.</h1>
            <br>
            <v-divider />
            <br>
            <span style="font-size:16px">
              您好 {{ user.email }}, 您的邮件已经被验证通过，你可以登录使用网站各种功能，目前网站正在开发建设中，尽请期待。
            </span>
            <br>
            <br>
            <v-btn
              dark
              color="#2e6fe5"
              to="/"
            > 主页 </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import axios from "axios";

export default {
  async asyncData({ store, query }) {
    let data = await axios.post(process.env.baseUrl + "/api/valid/", {
      email: query.email,
      random: query.random
    });
    store.commit("snackbar/setSnack", {
      snack: data.data.message,
      color: data.data.result
    });
    return { user: data.data.user };
  },
  data() {
    return { user: [] };
  }
};
</script>
